In [1]:
import pandas as pd 
import numpy as np

In [20]:
data_elections = pd.read_csv("../data/f_round_elect_results.csv", encoding='windows-1252', sep=';')

/Users/dldk/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
data_elections.columns

Index(['Code du département', 'Libellé du département', 'Code de la commune',
       'Libellé de la commune', 'Inscrits', 'Abstentions', '% Abs/Ins',
       'Votants', '% Vot/Ins', 'Blancs', '% Blancs/Ins', '% Blancs/Vot',
       'Nuls', '% Nuls/Ins', '% Nuls/Vot', 'Exprimés', '% Exp/Ins',
       '% Exp/Vot', 'N°Panneau', 'Sexe', 'Nom', 'Prénom', 'Voix', '% Voix/Ins',
       '% Voix/Exp', 'N°Panneau.1', 'Sexe.1', 'Nom.1', 'Prénom.1', 'Voix.1',
       '% Voix/Ins.1', '% Voix/Exp.1', 'N°Panneau.2', 'Sexe.2', 'Nom.2',
       'Prénom.2', 'Voix.2', '% Voix/Ins.2', '% Voix/Exp.2', 'N°Panneau.3',
       'Sexe.3', 'Nom.3', 'Prénom.3', 'Voix.3', '% Voix/Ins.3', '% Voix/Exp.3',
       'N°Panneau.4', 'Sexe.4', 'Nom.4', 'Prénom.4', 'Voix.4', '% Voix/Ins.4',
       '% Voix/Exp.4', 'N°Panneau.5', 'Sexe.5', 'Nom.5', 'Prénom.5', 'Voix.5',
       '% Voix/Ins.5', '% Voix/Exp.5', 'N°Panneau.6', 'Sexe.6', 'Nom.6',
       'Prénom.6', 'Voix.6', '% Voix/Ins.6', '% Voix/Exp.6', 'N°Panneau.7',
       'Sexe.7', 'Nom.7', 'Prénom.7', 'Voix.7', '% Voix/Ins.7', '% Voix/Exp.7',
       'N°Panneau.8', 'Sexe.8', 'Nom.8', 'Prénom.8', 'Voix.8', '% Voix/Ins.8',
       '% Voix/Exp.8', 'N°Panneau.9', 'Sexe.9', 'Nom.9', 'Prénom.9', 'Voix.9',
       '% Voix/Ins.9', '% Voix/Exp.9', 'N°Panneau.10', 'Sexe.10', 'Nom.10',
       'Prénom.10', 'Voix.10', '% Voix/Ins.10', '% Voix/Exp.10'],
      dtype='object')

In [22]:
data_elections.shape

(35719, 95)

In [24]:
interesting_colums = ["Code du département", "Code de la commune", "Inscrits", "Abstentions", "Nuls", "Votants", \
                      "Nom", "% Voix/Exp", "Nom.1", "% Voix/Exp.1", "Nom.2","% Voix/Exp.2","Nom.3","% Voix/Exp.3", \
                      "Nom.4","% Voix/Exp.4", "Nom.5","% Voix/Exp.5","Nom.6","% Voix/Exp.6", "Nom.7","% Voix/Exp.7", \
                      "Nom.8","% Voix/Exp.8", "Nom.9","% Voix/Exp.9", "Nom.10","% Voix/Exp.10"]
data_elections = data_elections[interesting_colums]
data_elections.head()

,Code du département,Code de la commune,Inscrits,Abstentions,Nuls,Votants,Nom,% Voix/Exp,Nom.1,% Voix/Exp.1,...,Nom.6,% Voix/Exp.6,Nom.7,% Voix/Exp.7,Nom.8,% Voix/Exp.8,Nom.9,% Voix/Exp.9,Nom.10,% Voix/Exp.10
0,1,1,598,92,9,506,LE PEN,"25,45",MACRON,"24,04",...,ASSELINEAU,"1,21",ARTHAUD,"0,81",POUTOU,"0,81",CHEMINADE,"0,4",LASSALLE,"0,4"
1,1,2,209,25,2,184,LE PEN,"27,27",MACRON,"21,02",...,ARTHAUD,"1,14",POUTOU,"1,14",ASSELINEAU,"0,57",CHEMINADE,0,LASSALLE,0
2,1,4,8586,1962,58,6624,LE PEN,"25,84",MÉLENCHON,"21,88",...,POUTOU,"1,41",ASSELINEAU,"1,1",LASSALLE,"0,93",ARTHAUD,"0,62",CHEMINADE,"0,08"
3,1,5,1172,215,3,957,LE PEN,"32,8",FILLON,"21,11",...,POUTOU,"1,07",ASSELINEAU,"1,07",LASSALLE,"0,64",ARTHAUD,"0,54",CHEMINADE,0
4,1,6,99,20,0,79,MÉLENCHON,"24,68",LE PEN,"23,38",...,POUTOU,"2,6",ARTHAUD,"1,3",LASSALLE,"1,3",CHEMINADE,0,ASSELINEAU,0

## COMPUTE INSEE CODE BASE ON DEPARTEMENT AND COMMUNE CODE

In [25]:
data_elections["Code du département"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '2A', '2B', '21', '22',
       '23', 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
       38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54,
       55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71,
       72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, '83', '84', '85',
       '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', 'ZA',
       'ZB', 'ZC', 'ZD', 'ZM', 'ZN', 'ZP', 'ZS', 'ZW', 'ZX', 'ZZ'],
      dtype=object)

Data type seems to differ inside an unique column ("Code du département"), so we format all data in string

In [26]:
data_elections["Code du département"] = data_elections["Code du département"].map(lambda x : str(x))
data_elections["Code du département"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '2A', '2B', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44',
       '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55',
       '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66',
       '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77',
       '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88',
       '89', '90', '91', '92', '93', '94', '95', 'ZA', 'ZB', 'ZC', 'ZD',
       'ZM', 'ZN', 'ZP', 'ZS', 'ZW', 'ZX', 'ZZ'], dtype=object)

We remove COM related data (St Pierre et Miquelon, Nouvelle-Calédonie, Polynésie, Wallis&Futuna, St-Martin) + french who vote but actual live abroad. Still, we keep data from la Réunion, la Martinique, la Guadeloupe and la Guyanne

In [27]:
masque = data_elections["Code du département"].isin(["ZZ", "ZW", "ZP", "ZM", "ZN" , "ZS", "ZX"])
data_elections = data_elections[~masque]
data_elections["Code du département"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '2A', '2B', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44',
       '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55',
       '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66',
       '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77',
       '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88',
       '89', '90', '91', '92', '93', '94', '95', 'ZA', 'ZB', 'ZC', 'ZD'],
      dtype=object)

Based on "Communes" and "Départements" columns, we calculate the "INSEE" code of a particular city. This will turn to be useful to merge different database in the futur.

In [28]:
def format_code_commune(x):
    if x < 10 :
        return "00" + str(x)
    if x < 100 :
        return "0" + str(x)
    else :
        return str(x)
def format_code_departement(x):
    if x == '2A' or x == '2B':
        return x
    if x == 'ZA' or x == 'ZB' or x == 'ZC' or x == 'ZD':
        return "97" 
    if int(x) < 10 :
        return "0" + x 
    else :
        return x

In [29]:
data_elections["Code du département"] = data_elections["Code du département"].apply(format_code_departement)
data_elections["Code de la commune"] = data_elections["Code de la commune"].apply(format_code_commune)
data_elections["Code Insee"] = data_elections["Code du département"] + data_elections["Code de la commune"]

In [30]:
data_elections

,Code du département,Code de la commune,Inscrits,Abstentions,Nuls,Votants,Nom,% Voix/Exp,Nom.1,% Voix/Exp.1,...,% Voix/Exp.6,Nom.7,% Voix/Exp.7,Nom.8,% Voix/Exp.8,Nom.9,% Voix/Exp.9,Nom.10,% Voix/Exp.10,Code Insee
0,01,001,598,92,9,506,LE PEN,"25,45",MACRON,"24,04",...,"1,21",ARTHAUD,"0,81",POUTOU,"0,81",CHEMINADE,"0,4",LASSALLE,"0,4",01001
1,01,002,209,25,2,184,LE PEN,"27,27",MACRON,"21,02",...,"1,14",POUTOU,"1,14",ASSELINEAU,"0,57",CHEMINADE,0,LASSALLE,0,01002
2,01,004,8586,1962,58,6624,LE PEN,"25,84",MÉLENCHON,"21,88",...,"1,41",ASSELINEAU,"1,1",LASSALLE,"0,93",ARTHAUD,"0,62",CHEMINADE,"0,08",01004
3,01,005,1172,215,3,957,LE PEN,"32,8",FILLON,"21,11",...,"1,07",ASSELINEAU,"1,07",LASSALLE,"0,64",ARTHAUD,"0,54",CHEMINADE,0,01005
4,01,006,99,20,0,79,MÉLENCHON,"24,68",LE PEN,"23,38",...,"2,6",ARTHAUD,"1,3",LASSALLE,"1,3",CHEMINADE,0,ASSELINEAU,0,01006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35388,97,420,17472,8102,309,9370,MÉLENCHON,"30,69",LE PEN,"26,2",...,"1,83",ASSELINEAU,"1,45",POUTOU,"1,36",LASSALLE,"0,53",CHEMINADE,"0,35",97420
35389,97,421,5912,2813,121,3099,LE PEN,"26,43",FILLON,"20,67",...,"2,43",ASSELINEAU,"1,63",POUTOU,"1,08",LASSALLE,"0,69",CHEMINADE,"0,35",97421
35390,97,422,62698,22803,1810,39895,LE PEN,"28,63",MÉLENCHON,"22,61",...,"2,08",ARTHAUD,"1,97",POUTOU,"1,6",LASSALLE,"0,68",CHEMINADE,"0,33",97422
35391,97,423,6132,2685,149,3447,MÉLENCHON,"23,96",MACRON,"22,82",...,"2,16",ASSELINEAU,"1,52",POUTOU,"1,46",CHEMINADE,"0,57",LASSALLE,"0,51",97423
35392,97,424,4981,2416,135,2565,MÉLENCHON,"24,53",LE PEN,"24,2",...,"2,28",ASSELINEAU,"2,12",POUTOU,"0,63",LASSALLE,"0,25",CHEMINADE,"0,13",97424

## CONVERT RESULT 21,67 TO 21.65

In [33]:
for i in range(11):
    data_elections.iloc[:,7+2*i] = data_elections.iloc[:,7+2*i].apply(lambda x : x.replace(',','.'))

## REVERSE THE TAB TO HAVE CANDIDATES NAMES INTO COLUMNS

In [35]:
reverse_tab = data_elections.iloc[:,6:-1]

# MERGE ALL RESULTS IN A UNIQUE COLUMN BY USING STRING CONCATENATION
reverse_tab["tupple"] = ""
for i in range(11) :
    reverse_tab["tupple"] += reverse_tab.iloc[:,2*i] + ":" + reverse_tab.iloc[:,2*i+1]
    if i != 10:
        reverse_tab["tupple"] += ";"

In [37]:
# SPLIT STRING INTO LIST 
# EACH ELEMENT OF THE LIST HAS THE FORM "CANDIDATE NAME, CANDIDATE RESULT"

reverse_tab["tupple"] = reverse_tab["tupple"].apply(lambda s: s.split(";"))

In [38]:
# TRANSFORM EACH ELEMENT OF THE LIST INTO A TUPPLE (CANDIDATE NAME, CANDIDATE RESULT)
def lambda_function(l):
    def sub_lambda_function(s):
        ls = s.split(":")
        return (ls[0], float(ls[1]))
    
    return list(map(sub_lambda_function, l))

reverse_tab["tupple"] = reverse_tab["tupple"].apply(lambda_function)

In [39]:
# SORT THE LIST BY CANDIDAT NAMES 
reverse_tab["tupple"] = reverse_tab["tupple"].apply(lambda s: sorted(s, key =lambda x:x[0]))

In [40]:
# KEEP ONLY CANDIDATE RESULTS 
def extract_only_score(l):
    return list(map(lambda x:x[1], l))
reverse_tab["tupple"] = reverse_tab["tupple"].apply(extract_only_score)

In [41]:
# CREATE A NEW DATAFRAME BASE ON THE COLUMN
candidates_list = ['LE PEN', 'MACRON','FILLON','MÉLENCHON','DUPONT-AIGNAN','HAMON','ASSELINEAU','ARTHAUD', \
                   'POUTOU','CHEMINADE','LASSALLE']
candidates_list = sorted(candidates_list)
new_df = pd.DataFrame(reverse_tab["tupple"].values.tolist(), columns=candidates_list)

In [42]:
# OBTAIN THE FINAL DATAFRAME BY MERGING WITH PREVIOUS DF 
clean_fr_elections = pd.concat([data_elections[['Inscrits', 'Nuls', 'Votants', "Code Insee"]], new_df], axis=1)

In [43]:
clean_fr_elections

,Inscrits,Nuls,Votants,Code Insee,ARTHAUD,ASSELINEAU,CHEMINADE,DUPONT-AIGNAN,FILLON,HAMON,LASSALLE,LE PEN,MACRON,MÉLENCHON,POUTOU
0,598,9,506,01001,0.81,1.21,0.40,6.87,22.22,5.86,0.40,25.45,24.04,11.92,0.81
1,209,2,184,01002,1.14,0.57,0.00,3.41,19.32,7.39,0.00,27.27,21.02,18.75,1.14
2,8586,58,6624,01004,0.62,1.10,0.08,5.36,16.80,5.33,0.93,25.84,20.64,21.88,1.41
3,1172,3,957,01005,0.54,1.07,0.00,4.82,21.11,3.97,0.64,32.80,20.47,13.50,1.07
4,99,0,79,01006,1.30,0.00,0.00,5.19,18.18,3.90,1.30,23.38,19.48,24.68,2.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35388,17472,309,9370,97420,1.83,1.45,0.35,2.53,13.99,4.81,0.53,26.20,16.25,30.69,1.36
35389,5912,121,3099,97421,2.43,1.63,0.35,2.60,20.67,7.56,0.69,26.43,20.19,16.37,1.08
35390,62698,1810,39895,97422,1.97,2.08,0.33,3.63,15.43,6.91,0.68,28.63,16.13,22.61,1.60
35391,6132,149,3447,97423,2.16,1.52,0.57,2.54,17.53,5.48,0.51,21.46,22.82,23.96,1.46
35392,4981,135,2565,97424,2.28,2.12,0.13,2.54,20.60,6.13,0.25,24.20,16.58,24.53,0.63

In [47]:
clean_fr_elections.to_csv("../data/clean_f_round_elect_results.csv", index = False, sep = ";")

In [48]:
test = pd.read_csv("../data/clean_f_round_elect_results.csv", sep = ";")

In [228]:
test.head()

,Inscrits,Nuls,Votants,Code Insee,ARTHAUD,ASSELINEAU,CHEMINADE,DUPONT-AIGNAN,FILLON,HAMON,LASSALLE,LE PEN,MACRON,MÉLENCHON,POUTOU
0,598,9,506,01001,4,6,2,34,110,29,2,126,119,59,4
1,209,2,184,01002,2,1,0,6,34,13,0,48,37,33,2
2,8586,58,6624,01004,40,71,5,346,1084,344,60,1667,1332,1412,91
3,1172,3,957,01005,5,10,0,45,197,37,6,306,191,126,10
4,99,0,79,01006,1,0,0,4,14,3,1,18,15,19,2